/* Navbar */
#navbar {
    padding-bottom: 20px;
}
.logo {
    float: none;
    text-align: center;
    display: block;
}
#navbar ul {
    float: none;
    display: block;
    text-align: center;
}
#navbar ul li {
   float: none;
   border-bottom: #444 dotted 1px;
}
#navbar ul li:last-child {
    border: none;
}
#navbar ul li a {
    padding: 10px;
}

/* Showcase */
#showcase {
    height: auto;
}
#showcase .showcase_content {
    padding: 100px 20px;
}
#showcase h2 {
    padding: 15px;
    font-size: 50px;
    line-height: 1.2em;
}

/* Section Info */
#home_info {
    height: auto;
}
.info_img {
    float: none;
    width: auto;
}
.info_content {
    float: none;
    width: auto;
}

/* Section Freatures */
.box {
    width: 100%;
    height: auto;
    padding: 50px;
    float: left;
    overflow: auto;
    text-align: center;
}

/* About Info */
.about_info {
    height: auto;
}
.info_left {
    width: 100%;
    float: none;
    text-align: center;
    padding-bottom: 20px;
}
.info_right {
    width: 100%;
    float: none;
}

/* Testimonials */
#testimonials {
    padding: 40px 20px; 
}
.testimonial_primary {
    height: auto;
    padding-bottom: 0;
}

/* Contact */
#contact_info .box {
    border-bottom: #444 dotted 1px;
}

